#container {
    padding-left: 10%;
    padding-right: 10%;
    border-style: outset;
}

.right_sidebar{
    float: left;
    background-color: gray;
    height: 100%;
    width: 20%;
    border-style: inset;
}

.content{
    width: 80%;
    height: 100%;
    background-color: cornsilk;
    border-style: inset;
}

.content label{
    width: 50%;
    float: left;
    height: 30px;
}
.content input {
    width: 50%;
    float:right;
    height: 30px;
}

.red_star{
    color: red;
}